*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 18px;
    font-family: Fraunces;
    margin-top: 98px;
}

a{text-decoration: none;}

.product_details{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
}
.mobile_img{
    display: block;
    max-width: 400px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.desktop_img{display: none;}

.product_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    max-width: 400px;
    width: 100%;
}

.product{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    line-height: 24px;
}

.product_name{
    color: hsl(212, 21%, 14%);
    font-size: 36px;
    font-weight: 700;
}

.product_intro{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

.discounted{
    display: flex;
    align-items: center;
    gap: 16px;
}

.discounted_price{
    color: hsl(158, 36%, 37%);
    font-size: 36px;
    font-weight: 700;
}

.price{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

.add_to_card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 14px;
    border-radius: 12px;
    font-family: Montserrat;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}
.add_to_card:hover{
    background-color: hsl(158, 33%, 21%);
}


@media(width >= 798px){
    .mobile_img{display: none;}
    .desktop_img{
        display: block;
        max-width: 400px;
        width: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .product_details{
        flex-direction: row;
    }

    .product_info{
        gap: 24px;
        padding: 48px;
        max-width: 400px;
    }

    .product_name{
        font-size: 48px;
    }

    .discounted_price{
        font-size: 48px;
    }
}